<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tugas.batik">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Customer.Cart.ConfirmOrderActivity"></activity>
        <activity android:name=".Customer.Cart.QuantityActivity" />
        <activity android:name=".Customer.Cart.CartActivity" />
        <activity android:name=".Admin.Order.DetailOrderActivity" />
        <activity android:name=".Admin.Order.ListOrderActivity" />
        <activity android:name=".Admin.Product.ProductActivity" />
        <activity android:name=".Customer.DashboardCustomerActivity" />
        <activity android:name=".Admin.DashboardAdminActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>